body {
  font-family: "Noto Serif JP", serif;
  color: #495879;
  font-size: 15px;
}

.container{ /*要素を配置するための汎用ブロックcss*/
    width: 90%;
    max-width: 1000px; /*横幅のmax値を指定*/
    margin: 0 auto; /*中央寄せ*/
}

header{
    font-size: 24px;
    font-weight: 700;
    padding: 8px 0 18px;
}

header .container{ /*header内のcontainerのみを指定*/
    max-width: 1600px; /*これだけ横幅を大きめにして左寄せ*/
}
header .small{
    font-size: 14px;
}

.hero{ /*画像ヘッダーの背景画像設定*/
    background-image: url('../img/img01.jpg');
    background-position: center left;/*上下中央　左右左寄せ*/
    background-size: cover; /*全体を覆うサイズ*/
}

.hero .container{ /*画像ヘッダーcontainerのブロックサイズ設定*/
    max-width: 1600px;
    padding: 150px 0 180px;/*上余白：左右：下余白*/
}

.heading{ /*要素内の見出し用汎用class*/
    font-size: 36px;
    font-weight: 700;
    text-align: center; /*中央寄せ*/
    margin-bottom: 6px;
}

h2{ /*汎用見出しにつけるルビ用汎用クラス*/
    font-size: 15px;
    font-weight: 700;
    text-align: center; /*中央寄せ*/
    margin-bottom: 40px;
}

.hero h1{ /*画像ヘッダーの見出し文の基本設定*/
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}

.hero h1 .lerge{ /*画像ヘッダーの見出し文の協調文字列用class*/
    font-size: 54px;
}
.hero li{ /*見出し下に付く売り文句用リスト*/
    font-size: 24px;
    color:#ffffff;
    background-color: #ffb800;
    display: inline-block;/*中にある文字分のブロックサイズに調整*/
    padding: 10px;
}

.vision{ /*visionブロックの背景色設定*/
    background-color: #f7f7ff;
}

.vision .info{ /*visionブロック インフォメーションの設定*/
    text-align: center; /*中央寄せ*/
    font-size: 24px;
    font-weight: 700;
    color: #ffffff; /*文字カラーを白*/
    background-color: #495879; /*背景色を暗め*/
    padding: 20px 0 24px;
}

.vision .sp{display: none;} /*基本作用しない（スマホのみ作用させる）*/
.vision .color{
    color: #edba38;
}

.vision .container{
    padding: 60px 0 78px;
}

.vision .text{
    text-align: center; /*ブロック内での中央寄せ*/
    max-width: 480px; /*ブロックの最大幅を設定*/
    margin: 0 auto; /*画面に対してブロックを中央寄せ*/
    line-height: 1.8; /*行間*/
}
.business{ /*businessブロックの上下余白を設定*/
    padding: 60px 0;
}
.business .row{
    display: flex; /*要素を横並びに。*/
    justify-content: space-between; /*要素間の間隔を調整*/
    flex-wrap: wrap; /*横幅を超えたら行を移動させる*/
    gap: 20px 0; /*縦の間隔を入れる*/
}
.business .col{
    width: 49%; /*枠が二つ横並びになれるように各要素を49%のサイズにする*/
    background-color: #f7f7ff; /*背景色*/
    border: solid 1px #e7e7e7; /*枠線*/
    padding: 40px 30px; /*上下左右余白*/
}
.business .service{ /*各事業内容の小見出し*/
    font-size: 16px;
    font-weight: 700;
    color: #edba38;
    margin-bottom: 10px;
}
.business h3{ /*各事業内容の中見出し*/
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 19px;
}
.business .text{ /*各事業内容の詳細内容*/
    line-height: 1.6;
}
.property{ /*propertyブロックの上下余白、背景色設定*/
    padding: 60px 0;
    background-color: #f7f7ff;
}
.property .row{ /*要素を均等に横並び*/
    display: flex;
    justify-content: space-between;
}
.property .col{ /*propertyの各要素*/
    width: 24%; /*幅を4つ横並びにできるサイズに調整*/
    background-color: #ffffff;
    border: solid 1px #e7e7e7;

}
.property h3{ /*property要素内の小見出し*/
    padding: 8px 12px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
}
.property .text{ /*物件情報の詳細内容*/
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.5;
}