body {
  font-family: 'M PLUS 1p', sans-serif;
}

.section{
    background-color: #f5f7f9;
    padding: 90px 0; /* 上下方向 90px 余白*/
    position: relative; /*議事要素配置の基準設定*/
}
.section::before{ /*左上の黒い△（疑似要素）*/
    content:'';
    position:absolute;
    top: 0; /*△のY軸 配置位置*/
    left: 0; /*△のX軸 配置位置*/
    border-top: 120px solid #000000; /*三角形の辺1*/
    border-right: 200px solid transparent; /*三角形の辺2*/
}
.section::after{ /*右下の黒い△（疑似要素）*/
    content:'';
    position:absolute;
    bottom: 0;
    right: 0;
    border-bottom: 120px solid #000000;
    border-left: 200px solid transparent;
}

.row{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /*中央寄せに調整*/
    display: flex;
    justify-content: space-between; /*要素を左右両端揃え*/
    align-items: center; /*要素を上下中央揃え*/
}

.col{
    width: 50%;
}

.heading{
    font-size: 20px; /*フォントの大きさ*/
    font-weight: 500; /*フォントの太さ*/
    margin-bottom: 20px; /*下方向の余白*/
}
h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 1.3; /*行間*/
    margin-bottom: 48px;
}
.text{
    line-height: 1.8;
}

@media screen and (max-width: 1200px){
    /*画面の横幅が1200px以下の場合に作用するstyle*/
    h1{
        font-size: 45px;
        margin-bottom: 36px;
    }
}
@media screen and (max-width: 1000px){
    /*画面の横幅が1000px以下の場合に作用するstyle*/
    h1{
        font-size: 34px;
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 767px){
    /*画面の横幅が767px以下（スマホ画面想定）の場合に作用するstyle*/
    .section{
        padding: 80px 0 30px;
    }
    .section::before{ /*左上の黒い△（疑似要素）*/
    border-top: 60px solid #000000; /*三角形の辺1*/
    border-right: 160px solid transparent; /*三角形の辺2*/
    }
    .section::after{ /*右下の黒い△（疑似要素）*/
    border-bottom: 60px solid #000000; /*三角形の辺1*/
    border-left: 160px solid transparent; /*三角形の辺2*/
    }
    .heading{ /*上部のミニテキストの調整*/
        font-size: 18px;
        margin-bottom: 16px;
    }
    .h1{ /*メインテキストの調整*/
        font-size: 30px;
        margin-bottom: 20px;
    }
    .row{ /*テキストと写真の位置調整*/
        flex-wrap: wrap; /*縦並びに変更させる*/
        gap: 20px; /*縦に並べた時の要素間の余白*/
    }
    .col{ /*テキスト、カメラそれぞれの要素*/
        width: 100%; /*画面に対して100%の大きさに調整*/
    }
}